<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
    <!-- use a disabled button to provide padding for tree leaf -->
    <div class="row" style="padding: 0.22%;">
      <div class=" " style="float: left">
        <button mat-icon-button disabled></button>
      </div>
      <div class="col-xs-11" style="padding-left: unset;">
        <app-tree-node [foodNode]="node"></app-tree-node>
      </div>
    </div>

<!--    {{node.name}}-->

  </cdk-nested-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
    <div class="row" style="padding: 0.2%;">

      <div class="" style="padding-right: unset;border:1px solid black; float: left;  height: 90px;border-radius: 5px">
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.name" cdkTreeNodeToggle style="padding-top: 50%;">
          <mat-icon class="mat-icon-rtl-mirror" style="padding-left: 1%">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <!--    {{node.name}}-->
      </div>
      <div class="col-xs-11" style="padding-left: unset; height: 90px ">
        <app-tree-node [foodNode]="node"></app-tree-node>
      </div>
    </div>

    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
      <ng-container cdkTreeNodeOutlet></ng-container>
    </div>
  </cdk-nested-tree-node>
</cdk-tree>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
