<!--<div>-->
<!--  <p>{{foodNode.name}}</p>-->
<!--  <p>{{foodNode.name}}</p>-->

<!--</div>-->

<div>
  <div class="col-xs-4" style="border:1px solid black; max-height: 90px; max-width: 250px; border-radius: 5px" >

    <div class="pane panel-parent" style="padding: 0">

<!--          <div class="panel-heading">-->
<!--            <h3 class="panel-title">{{office.nameBn}}</h3>-->
<!--          </div>-->
      <div class="panel-body" style="padding: 1%; ">
        <div class="row vertical-align">

          <div class="col-xs-3" style="padding-left:4%;">
            <img class="imageClass" [src]="foodNode.logoUrl" />
          </div>
          <div class="col-xs-5" style="padding:4%;padding-top: 1%;padding-bottom: 1%">

            <div class="row">
              <div class="col-xs-12">
                <p class="names">{{foodNode.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p class="names">{{foodNode.name}}</p>
              </div>
            </div>
          </div>

          <div class="col-xs-2" style="padding:4%;padding-top: 1%;padding-bottom: 1%" >
            <div class="col-xs-12">
              <button mat-icon-button>
                <i class="material-icons">
                  keyboard_arrow_up
                </i>
              </button>
            </div>
            <div class="col-xs-12" >
              <button mat-icon-button>
                <i class="material-icons">
                  keyboard_arrow_down
                </i>
              </button>
            </div>

          </div>
          <div class="col-xs-2" style="padding:4%;padding-top: 1%;padding-bottom: 1%">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>account_balance</mat-icon>
                <span>Create Office</span>
              </button>
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Update Current Office</span>
              </button>
              <button mat-menu-item>
                <mat-icon>account_tree</mat-icon>
                <span>Show Office Organogram</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

